@tailwind base;
@tailwind components;
@tailwind utilities;

/* Move this to index.css for global effect */
p, h1, h2 {
    user-select: none;
    pointer-events: none;
}
a, div {
    user-select: none;
}

/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
      width: 8px; /* Thin scrollbar width */
      height: 8px; /* Thin scrollbar height */
}

::-webkit-scrollbar-track {
      background: transparent; /* Gray track */
      border-radius: 9999px; /* Rounded track */
}

::-webkit-scrollbar-thumb {
      background: theme('colors.burntSienna'); /* Using the Tailwind color variable */
      border-radius: 9999px; /* Rounded thumb */
}

::-webkit-scrollbar-button {
      display: none; /* Hide arrow buttons */
}
