.mbView {
    @apply grid grid-cols-4
}

.mdView {
    @apply grid grid-cols-6
}

.lgView {
    @apply grid grid-cols-12
}

/*cards*/
.xsCard {
    @apply col-span-2
}

.sCard {
    @apply col-span-3
}

.mCard {
    @apply col-span-4
}

.lCard {
    @apply col-span-6
}

.xlCard {
    @apply col-span-12
}

.card {
    @apply rounded-3xl
}

@keyframes clickScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes buttonError {
    0% {
        transform: rotate(0deg) scale(1.05);
    }
    20% {
        transform: rotate(5deg) scale(1.05);
    }
    40% {
        transform: rotate(-5deg) scale(1.05);
    }
    60% {
        transform: rotate(5deg) scale(1.05);
    }
    80% {
        transform: rotate(-5deg) scale(1.05);
    }
    100% {
        transform: rotate(0deg) scale(1.05);
    }
}


.scale-animation {
    animation: clickScale 300ms ease-out;
}

.button-error-animation {
    animation: buttonError 300ms ease-out;
}

.customDashed {
    background-image: repeating-linear-gradient(0deg, #ccc5b9, #ccc5b9 13px, transparent 13px, transparent 24px, #ccc5b9 24px), repeating-linear-gradient(90deg, #ccc5b9, #ccc5b9 13px, transparent 13px, transparent 24px, #ccc5b9 24px), repeating-linear-gradient(180deg, #ccc5b9, #ccc5b9 13px, transparent 13px, transparent 24px, #ccc5b9 24px), repeating-linear-gradient(270deg, #ccc5b9, #ccc5b9 13px, transparent 13px, transparent 24px, #ccc5b9 24px);
    background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}

.modeSelected {
    border: 1px solid var(--saffron);
    color: var(--floralWhite);
    border-radius: 0.75rem;
    padding: 0.75rem 0;
    margin: 0 5rem;
}

.modeUnselected {
    color: var(--timberwolf);
    border-radius: 0.75rem;
    padding: 0.75rem 0;
    margin: 0 5rem;
}

.modeUnselected:hover {
    color: var(--floralWhite);
    background-color: var(--blackOlive);
}
