.time-button {
  @apply h-20 lg:h-24 text-2xl lg:text-3xl dark:bg-eerieBlack bg-blackOlive dark:text-timberwolf text-floralWhite rounded-md font-bold cursor-pointer
  hover:scale-105 transition-transform duration-200 flex justify-center items-center;
}

/* First and last buttons in each row get larger corner radius */
.time-button:first-child {
  @apply rounded-l-2xl;
}

.time-button:last-child {
  @apply rounded-r-2xl;
}

/* Variable button widths based on size */
.time-button-xs {
  @apply w-14 lg:w-16;
}

.time-button-s {
  @apply w-16 lg:w-20;
}

.time-button-m {
  @apply w-20 lg:w-28;
}

.time-button-l {
  @apply w-24 lg:w-36;
}

.time-button-xl {
  @apply w-28 lg:w-44;
}

.time-controls-layout {
  @apply flex lg:flex-col flex-row items-center justify-evenly lg:w-1/2 w-full px-4 lg:px-0 lg:py-0 pt-4 pb-4 lg:pb-0;
}

.timer-phase-title {
  @apply dark:text-timberwolf text-floralWhite text-center lg:text-5xl text-4xl font-black lg:mb-4;
}

.lap-timer-display-container {
  @apply p-3 dark:bg-timberwolf bg-floralWhite rounded-3xl lg:mt-2 mt-0 lg:w-4/5;
}

.lap-timer-digits {
  @apply lg:text-7xl text-3xl font-black dark:text-eerieBlack text-blackOlive w-full text-center;
}

.timer-lap-buttons-layout {
  @apply flex flex-col lg:w-1/2 w-full items-center gap-2 pb-2 lg:pb-0 px-3;
} 